.page-host {
    pointer-events: none;
}
pre {
    pointer-events: auto;
}

.page-host-background {
    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // background-color: red;

    .background-square {
        height: 5vh;
        background-color: transparent;
        transition: 100;

        &:hover {
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

