.spinner-container {
	margin-top: 40px;

	.fa {
		// font-size: 500%;
	}
}

.button-collapse {
	margin-right: 20px;
}

.tabs {
    transition: all .5s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

    .tab {
    transition: all .5s;

        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .16), 0 4px 20px 0 rgba(0, 0, 0, .12) !important;
        }
    }
}
